{{- if .Values.nginx.enabled -}}
{{- $chartName := include "files-server.name" . -}}
{{- $releaseName := .Release.Name -}}
{{- $nginxConfigmapName := include "nginx-configmap.fullname" . }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ $nginxConfigmapName }}
  labels:
{{ include "files-server.labels" . | indent 4 }}
data:
  nginx.conf: {{ tpl (.Files.Get "config/nginx.conf") . | quote }}
{{- end }}
