name: Build and push artifacts

on:
  push:
    tags:
      - "v*"

  workflow_dispatch:
    inputs:
      version:
        description: "Version to tag the helm chart with"
        required: true
        type: string
env:
  HELM_EXPERIMENTAL_OCI: 1

permissions:
  contents: write
  pull-requests: write

jobs:
  build_and_push_helm:
    uses: MapColonies/shared-workflows/.github/workflows/build-and-push-helm.yaml@v5
    secrets: inherit
    with:
      scope: raster
