name: Build and push artifacts

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write
  pull-requests: write

jobs:
  build-and-push:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.GH_PAT }}

      - name: Artifactory Login
        uses: MapColonies/shared-workflows/actions/artifactory-login@artifactory-login-v1.0.0
        with:
          registry: ${{ secrets.ACR_URL }}
          username: ${{ secrets.ACR_PUSH_USER }}
          password: ${{ secrets.ACR_PUSH_TOKEN }}

      - name: Build and Push Helm Chart
        uses: MapColonies/shared-workflows/actions/build-and-push-helm@build-and-push-helm-v1.0.1
        with:
          context: ./helm
          domain: raster
          registry: ${{ secrets.ACR_URL }}

      - name: Update Artifacts File- Helm
        uses: MapColonies/shared-workflows/actions/update-artifacts-file@update-artifacts-file-v1.1.1
        with:
          domain: raster
          artifact_name: ${{ github.event.repository.name }}
          artifact_tag: ${{ github.ref_name }}
          type: helm
          registry: ${{ secrets.ACR_URL }}
          github_token: ${{ secrets.GH_PAT }}
