name: CI

on: [pull_request]

jobs:
  helm-lint:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: azure/setup-helm@v4
      - run: helm lint ./helm

  security:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - name: Run Snyk to check for vulnerabilities
        uses: snyk/actions/node@master
        continue-on-error: true
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}  
